*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho{
    display: flex;
    background-color: green;
    justify-content: space-between;
    padding: 7px;
    color: black;
}

input{
    width: 150px;
    height: 25px;
    border-radius: 2px;
    border: none;
    display: flex;
}

footer{
    background-color: green;
    display: flex;
    justify-content: center;
    height: 55px;
    align-items: center;
}

main{
    height: 86vh;
    padding: 39px;
    text-align: center;
    display: grid;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    align-items: center;
    
}

.centro img{
    height: 157px;  
    
}


section video{
    height: 100vh;
    padding: 20px;
}

.titulo{
    padding: 25px;
}

#estilo{
    border: 1px solid black;
    height: 210px;
    width: 236px;
}