* {
    margin: 0;
    padding: 0;
}

.container-cabeca {
    height: 83px;
    background-color: rgb(134, 131, 131);
    
}

.imagem {
    width: 80px;
}

div a {
    float: right ;
   margin: 36px;
   font-size: 11px;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-cabeca1{ 
    background-color: rgb(170, 167, 167);
    height: 83px;
}

.container-cabeca2 {
    background-color: rgb(146, 144, 144);
    height: 83px;
}

.container-cabeca3 {
    background-color: rgb(143, 140, 140);
    height: 83px ;
}

#img{
    width: 250px;
    margin: 0 auto;
    position: fixed;
    top: 99px;
    left: 581px;

}
.emoji{
    width: 500vw;
    position: relative;

   
    
}
#imagem-joias{

    height: 330px;
    margin: 55px;
}

#imagem-for{
    height: 278px;
    margin: 55px;
}

.centro{
    text-align: center;
    margin: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

div p {
    margin: 4%;
}

.contatos {
    margin: 50px;
}
.contatos1{
    margin: 30px;
}
.redes{
    margin: 50px;
}
.redes1{
    margin: 30px;
}
.imageminsta{
    height: 50px;
}
.imagenlin{
    height: 50px;
}
.imagemtwitter{
    height: 50px;
}

#imagfundo{
    width: 100vW;
    margin: 0 auto;
    height: 89vH;

}

.container{
    text-align: center;
}

.informacao {
text-align: center;
    margin: 0 auto;
    position: fixed;
    bottom: 99px;
    left: 520px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sobre{
    color: rgb(68, 67, 67);
    margin: 4px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.mari{
    margin: 45px;
    border: solid 2px black;
    display: inline;

}
.paragrafo{
    display: inline;
    margin: 10px;
    text-align: center;
    position: fixed;
    top: 230px;
    left: 340px;
    right: 80px;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ensino{
    text-align: center;
    color: rgb(53, 52, 52);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.afastar{
    text-align: center;
    padding: 25px;
    font-size: 18px;
}